@import-normalize;
@import "./fonts.css";
@import "./buttons.css";
@import "./navbar.css";
@import "./landing.css";
@import "./register.css";
@import "./login.css";
@import "./editForm.css";
@import "./linksForm.css";
@import "./socialLinksForm.css";
@import "./preview.css";

*,
*::before,
*::after {
  font-family: Roboto Regular, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #5f8575;
  background-image: url("../../public/img/crossword.png");

  /* min-height: 100%; */
}

.main-container {
  /* position: relative; */
  /* margin: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 10px; */
  /* height: 90vh;
  width: 90vw; */
  /* padding: 0;
  margin: 0; */
  /* width: 90vw; */
}

.form {
  max-width: 500px;
  position: relative;
}

.form__validation-error {
  font-size: 0.8rem;
  color: rgb(170, 3, 3);
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 40px);
}

.form__error {
  font-family: Roboto, sans-serif;
  color: #515151;
  background-color: #fff;
  font-size: 0.8rem;
  position: absolute;
  top: 66.5%;
  /* bottom: 235px; */
  border-radius: 5px 0 0 5px;
  /* display: inline-block; */

  padding: 1rem;

  border-left: 5px solid red;
}

.form__error__icon {
  color: red;
}
