@import-normalize;
@import "./fonts.css";
@import "./buttons.css";
@import "./landing.css";
@import "./login.css";
@import "./register.css";
@import "./editForm.css";
@import "./linksForm.css";
@import "./socialLinksForm.css";
@import "./preview.css";

*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #5f8575;
  background-image: url("../../public/img/crossword.png");
  /* min-height: 100%; */
}

.header {
  font-family: Butler Light, serif;
}
