.btn {
  background-color: #f1e7db;
  color: #515151;
  border: none;
  padding: 0.6rem 0.7rem;
  border-radius: 8px;
  font-size: 0.8rem;

  margin: 0.5rem;
}

.btn:hover {
  background-color: #e5dcd1;
}

.btn:hover {
  cursor: pointer;
}

.btn-flex {
  display: flex;
  margin-top: 2rem;
}

.btn-flex__social-link,
.btn-flex__link {
  margin-top: 0;
}

.btn-back {
  background-color: #e9c3c3;
}

.btn-back:hover {
  background-color: #d5b8b8;
}

.btn-preview,
.btn-final {
  background-color: #cdddb9;
  color: #2f2e2e;
}

.btn-preview:hover,
.btn-final:hover {
  background-color: #c0cfae;
  cursor: pointer;
}
