.btn {
  background-color: #f1e7db;
  color: #515151;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;

  margin: 0.5rem 0;
}

.btn-flex {
  display: flex;
}

.btn-back {
  background-color: #e9c3c3;
}

.btn-preview,
.btn-final {
  background-color: #cdddb9;
  color: #2f2e2e;
}
