.edit-form-container {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form__section {
  width: 100%;
  margin: 0.8rem 0;
}

.edit-form__label {
  display: inline-block;
  margin-bottom: 5px;
  color: rgb(145, 145, 145);
  font-weight: 300;
}

.edit-form__input {
  display: block;
  margin: auto;
  border: none;
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  outline: none;
  /* padding-left: 20px; */
  padding: 15px;
}

textarea.edit-form__input {
  resize: none;
  height: auto;
}

/* Image */

.edit-form__section-image {
  color: rgb(145, 145, 145);
  font-weight: 300;
}

.edit-form__label-image {
  border-radius: inherit;
}

.edit-form__input-image {
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  position: absolute;

  /* For accessibility */
  width: 0.1px;
  height: 0.1px;
}

.edit-form--circle {
  background-color: #f4f4f4;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form__profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

/* Links, Social Links */

.edit-form__section-links ul,
.edit-form__section-social-links ul {
  list-style-type: none;
}

.edit-form__section-links__add-btn,
.edit-form__section-social-links__add-btn {
  font-size: 30px;
  width: 100%;
  border: none;
  height: 40px;
  color: #9b9b9b;
  cursor: pointer;
}
