.landing-container {
  text-align: center;
  margin: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  height: 90vh;
  width: 90vw;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  letter-spacing: 3px;
  font-size: 3rem;
  position: relative;
  bottom: 60px;
}

.sub-header {
  /* position: absolute;  */
}

.landing-btns-container {
  margin-top: 5rem;
}

.landing-btns__link {
  display: contents;
}

.landing-btns__login,
.landing-btns__register {
  margin: 0 1rem;
  cursor: pointer;
}
