.navbar {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  padding: 3rem 4rem;
}

.logo {
  font-family: Better Minds, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  /* font-weight:  */
}

.logout-btn {
  border: none;
  background: none;
  opacity: 0.5;
}

.logout-btn:hover {
  opacity: 1;
  cursor: pointer;
}
