.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  width: 90%;
  padding: 3rem 3rem;
  box-sizing: inherit;
}

.logo__link {
  text-decoration: none;
  color: #515151;

  /* display: block; */
}

.logo__text {
  font-family: Better Minds, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;

  /* font-weight:  */
}

.logout-btn {
  border: none;
  background: none;
  opacity: 0.5;
  /* margin-left: auto; */

  /* display: block; */
}

.logout-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: 3rem 4rem;
  }

  .logo__text {
    font-size: 1.8rem;
  }

  .logout-btn {
    font-size: 1.1rem;
  }
}
