.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;

  position: fixed;
  width: 90%;
  padding: 3rem 3rem 0 3rem;
  box-sizing: inherit;

  backdrop-filter: blur(2px);
  z-index: 1;
}

.logo__link {
  text-decoration: none;
  color: #515151;
}

.logo__text {
  font-family: Better Minds, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.logout-btn {
  border: none;
  background: none;
  opacity: 0.5;
}

.logout-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: 3rem 4rem 1rem 4rem;
  }

  .logo__text {
    font-size: 1.8rem;
  }

  .logout-btn {
    font-size: 1.1rem;
  }
}
