.register {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.register-form {
  text-align: center;
  width: 100%;
}

.register-form__row {
  margin: 1rem 0;
}

.register-form__input {
  background-color: #f8f8f8;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 8px;
}
