.register-container {
  text-align: center;
  /* margin: 2rem; */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  height: 90vh;
  width: 90vw;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  /* max-width: 500px; */
  padding: 2rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form__header {
  font-family: Roboto Bold, sans-erif;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.register-form__row {
  width: 100%;
  margin: 0.8rem 0;

  text-align: center;
}

/* .register-form__row:(nth-of-type(1)) {
  margin-top: 2rem;
}

.register-form__row:last-child {
  margin-bottom: 1rem;
} */

.register-form__input {
  background-color: #f8f8f8;
  color: #515151;

  border: none;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 8px;
}

.register-form__login-btn {
  text-decoration: none;
  font-size: 0.9rem;
}

/* .form-error {
  font-family: Roboto, sans-serif;
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: 32%;
} */

.register-form__login-alt {
  position: absolute;
  bottom: 20%;
  font-size: 0.8rem;
  color: #515151;
}

.login-alt__link {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .register-form__login-alt {
    font-size: 0.9rem;
  }
}
